<h1><%= @group.name %>の詳細ページ</h1>
<div class="container">
  <%= render "/groups/group_index", groups: @groups %>
</div>
    
<% if @group.user == current_user && @join_wish_users == nil %>
  <div class="container col-xs-4">
    <h4>承認待ちのユーザー</h4>
    <ul>
      <% @join_wish_users.each do |user| %>
        <li><%= link_to user.name, user %><%= render "group_relationships/apploval_button", user: user, group: @group %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container <%= col_size_6to4 %>">
  <h4>参加済のユーザー一覧</h4>
  <ul>
    <% @joined_users.each do |user| %>
      <li><%= link_to user.name, user %></li>
      <li>コメント:<%= user.comment %></li>
    <% end %>
  </ul>
</div>
<div class="container <%= col_size_6to4 %>">
  <h4>イベント一覧</h4>
  <ul>
    
  </ul>
</div>
</div>