<div class="bg-info" style="padding:20px;">
  <div class="media">
    <h1>&nbsp;<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>  <%= @ivent.title %></h1>
    <p>&nbsp;イベント主催者: <%= @ivent.user.name %></p>
    <p>&nbsp;開催予定日: <%= @ivent.date%></p>
    <p>&nbsp;イベント概要: <%= @ivent.content %></p>
    <% if @ivent.user == current_user %>
      <%= link_to '編集', edit_ivent_path(@ivent),class: "btn btn-primary pull-right"%>
    <% end %>
    <a href="#" class="btn btn-primary pull-right">参加する</a>
  </div>
</div>

<ul class="nav nav-tabs nav-justified">
	<li class="active"><a href="#ContentA" data-toggle="tab">当日のスケジュール</a></li>
	<li><a href="#ContentB" data-toggle="tab">イベント一覧</a></li>
	<li><a href="#ContentC" data-toggle="tab">参加予定者一覧</a></li>
</ul>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane active" id="ContentA">
		当日のスケジュール一覧を表示
	</div>
	<div class="tab-pane" id="ContentB">
    持ち物一覧
	</div>
	<div class="tab-pane" id="ContentC">
		参加予定者一覧を表示
	</div>
</div>


